- if challenges.count == 0
  .zero-items-text No Challenges
- else
  - is_admin = current_user.admin?
  - players = @game.players
  %table.table.table-bordered
    %thead
      %tr
        %th{:style => "text-align:left;width: 15%"}= "Teams"
        - @categories.each do |category|
          %th{ :style => "text-align:center;width: auto" }= category.name
    %tbody
      - players.each do |player|
        %tr
          %td= player.display_name
          - @categories.each do |category|
            - player_challenges = player.challenges.where(category: category)
            - unless player_challenges.empty?
              - player.challenges.where(category: category).each do |challenge|
                - is_solved = false
                - style = "text-align:center;"
                - if is_admin
                  - is_solved = challenge.solved?
                - else
                  - is_solved = challenge.solved_by_user?(current_user)
                - if challenge.force_closed?(division) && challenge.solved?
                  - style << "color:DarkOrange;"
                - elsif challenge.force_closed?(division)
                  - style << "color:red;"
                - elsif is_solved
                  - style << "color:#08C;"
                - else
                  - style << "color:green;"

                - point_value = update_challenge(challenge)

                %td{ style: style }= link_to point_value.to_i, challenge, style: "color:inherit;", title: challenge.name
            - else
              %td &nbsp;
